<div class="back-ground">
	<div class="main-space">
		<%= render "layouts/flash" %>
		<div class="section-head">
			<h3>ネドコ新規投稿</h3>
		　</div>
		　　　<div class="container">
               	 <%= form_for @spot, html: {class: 'form-horizontal'} do |f| %>
        			<div class="form-group">
		           		<label>ネドコ名　<span class="red">※必須</span></label>
		            	<%= f.text_field :spot_name, class: 'form-control' %>
		        	 	</div>
		        	<div class="form-group">
		        		<label>エリア　<span class="red">※必須</span></label>
	            		<%= f.collection_select :area_id, @area, :id, :area_name ,{ prompt: "選択"},{ class: "form-control"}%>
		        	  </div>
		        	<div class="form-group">
		        		<label>都道府県　<span class="red">※必須</span></label>
		            	<%= f.collection_select :prefecture_id, @prefecture, :id, :prefecture_name,{ prompt: "選択"}, {class: "form-control"} %>
		        	   </div>
		        	 <div class="form-group">
		           	 	<label>ネドコタイプ　<span class="red">※必須</span></label>
		            	<%= f.select :type, [["公園", "公園"], ["道の駅", "道の駅"],["無料キャンプ場","無料キャンプ場"],["その他","その他"]], {prompt: "選択"},{class: "form-control"}%>
			          </div>
			          <div class="section-head">
						以下、分かる範囲でお願いします
					　</div>
		        	<div class="form-group">
		           		 <label>スポット住所</label>
		            	<%= f.text_field :spot_address, class: 'form-control' %>
			          </div>
			        <div class="form-group">
			            <label>説明文</label>
		            	<%= f.text_area :discription, class: 'form-control' %>
			          </div>
			        <div class="form-group">
	            		<label>東屋</label>
		            	<%= f.select :pavilion, [["あり", "あり"], ["なし", "なし"],], {prompt: "選択"},{class: "form-control"}%>
	        		  </div>
			        <div class="form-group">
	            		<label>独立水道</label>
		            	<%= f.select :watar, [["あり", "あり"], ["なし", "なし"],], {prompt: "選択"},{class: "form-control"}%>
	        		  </div>
	        		<div class="form-group">
	            		<label>トイレ</label>
		            	<%= f.select :toilet, [["あり", "あり"], ["なし", "なし"],], {prompt: "選択"},{class: "form-control"}%>
	        		  </div>
	        		<div class="form-group">
	            		<label>屋根</label>
		            	<%= f.select :roof, [["あり", "あり"], ["なし", "なし"],], {prompt: "選択"},{class: "form-control"}%>
	        		  </div>
	        		<div class="form-group">
	            		<label>24時間休憩所</label>
		            	<%= f.select :rest_area, [["あり", "あり"], ["なし", "なし"],], {prompt: "選択"},{class: "form-control"}%>
	        		  </div>
	        		<%= f.submit "投稿する",class: "btn btn-outline-info" %>
        		<% end %>
			</div>
	</div>
</div>