<div class="back-ground">
	<div class="main-space">
		<%= render "layouts/flash" %>
		<div class="section-head clearfix">
			<div class="head-user">
				<i class="fa fa-user" aria-hidden="true"></i>投稿者
				<%= link_to user_path(@spot_user),:style => "color:#99cc99" do %>
				<%= @spot.user.nick_name %>
				<% end %>
				さん
			  </div>
			<h3><%= @spot.spot_name %></h3>
			<h4><%= @spot.prefecture.prefecture_name %></h4>
		</div>

		<div class="content-space clearfix">
<!-- favorite--------------------------------------------- -->
		  <div class="favorite-box">
		   	<span id="favorite<%= @spot.id %>">
           		<%= render partial: 'favorite', locals: {spot: @spot} %>
         	</span>
		 </div>
		 <div class="favorite-box">
			<span id="slept<%= @spot.id %>">
           		<%= render partial: 'slept', locals: {spot: @spot} %>
         	</span>
		  </div>
<!-- swiper--------------------------------------------------- -->
		<div class="content-space clearfix">
				<div class="spot-h3">
			    	画像ギャラリー
				</div>
				<div class="edit-button">
					<% if user_signed_in? || admin_signed_in? %>
				 	<%= link_to "画像投稿", new_spot_spot_image_path(@spot), class: "btn btn-outline-warning" %>
				 	<% end %>
				</div>
		<% unless @spot.spot_images.present? %>
				<div class="no-comment">
				  画像を投稿しませんか?
				</div>
		<% else %>

			<div class="sample sample01">
			  <div class="swiper-container">
			    <div class="swiper-wrapper">
		   			<% @spot.spot_images.each do |spot_image| %>
		   				<div class="swiper-slide">
			 					<%= attachment_image_tag spot_image, :image, :fill, 695, 400, format: 'jpeg', class: "slide-image"%>
			      <i class="fa fa-images" aria-hidden="true"></i> <%= spot_image.image_discription %>
					</div>
					<% end %>
		    	</div>
			    	<div class="swiper-button-prev"></div>
			    	<div class="swiper-button-next"></div>
			    	<div class="swiper-pagination"></div>
			    </div>
		  	  </div>
			<% end %>
		</div>
<!-- 以下スポット特徴------------------------------------------------------- -->
		  <div class="content-space clearfix">
			<div class="spot-h3">
		  		ネドコ特徴
			 </div>
			 <div class="edit-button">
					<% if user_signed_in? || admin_signed_in? %>
				 	<%= link_to "編集する", edit_spot_path, class: "btn btn-outline-warning" %>
				 	<% end %>
				 </div>
<%= render 'info' , spot: @spot %>
		  </div>
<!-- ----------------------------------------------------------------- -->
		 <div class="content-space clearfix">
		 	<div class="spot-h3">
		  		ネドコ説明
			   </div>
			    <div class="discription">
			      <% if @spot.discription.present? %>
			      <%= @spot.discription %>
			    <% else %>
			    	まだ説明はありません
			    <% end %>
			    </div>
		   </div>
<!-- 以下コメント&フォーム--------------------------------------------------- -->
<%= render 'comment' ,spot: @spot ,post_comment: @post_comment %>

			<div class="modal-on">
			<i class="fa fa-comments" aria-hidden="true"></i>
			コメントする</div>
<!-- ----------------------------------------------------------------- -->
		 <div class="content-space clearfix">
		 	<div class="spot-h3">
		  		ネドコ基本情報
			   </div>
			  <div class="spot-basis-info">
			  	<%= @spot.spot_name %><br>
			  	<%= @spot.area.area_name %><br>
			  	<%= @spot.prefecture.prefecture_name %><br>
			  	<i class="fa fa-map-marker-alt" aria-hidden="true"></i>
			  	住所：<a href="http://maps.google.co.jp/maps?q=<%= @spot.spot_address %>" target="_blank"><%= @spot.spot_address %></a>
			  </div>
		   </div>
<!-- ----------------------------------------------------------------- -->
		 <div class="content-space clearfix">
		 	<%= link_to "TOP", root_path, :style => "color:gray" %>
		 	 > 
		 	<%= link_to "都道府県から探す", areas_path, :style => "color:gray" %>
		 	 > 
		 	 <%= link_to @spot.prefecture.prefecture_name, areas_prefecture_path(@spot.prefecture.prefecture_name), :style => "color:gray" %>
		 	 > 
		 	 <%= @spot.spot_name %>
		 </div>
		 <% if admin_signed_in? %>
		 	<%= link_to "投稿削除",spot_path(@spot), method: :delete ,class: "btn btn-outline-danger",data:{confirm: '削除しますか?' } %>
		 <% end %>
	</div>
</div>