<div class="back-ground">
    <div class="main-space">
        <%= render "layouts/flash" %>
      <div class="container">
        <div class="section-head">
          <h4>ログイン</h4>
         </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label class="control-label col-xs-2">メールアドレス</label>
              <%= f.email_field :email, autofocus: true, class: "form-control"  %>
            </div>
            <div class="form-group">
               <label class="control-label col-xs-2">パスワード</label>
              <%= f.password_field :password, autocomplete: "off", class: "form-control"  %><br>
            </div>
            <%= f.submit "ログインする", class: "btn btn-outline-info" %>
        <% end %>
        <div class="signup-link">
          <%= link_to "ユーザー登録はこちらから" ,new_user_registration_path, :style => "color:#007b43;" %>
        </div>
      </div>
    </div>
</div>