<div class="back-ground">
    <div class="main-space">
      <div class="container">
        <div class="section-head">
             <h3>登録情報の確認・編集</h3>
          </div>
          <%= form_for @user do |f| %>
              <div class="form-group">
                  <label class="control-label col-xs-2">名前</label>
                  <div class="col-xs-5">
                    <%= f.text_field :user_name, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">ふりがな</label>
                  <div class="col-xs-5">
                    <%= f.text_field :name_phonetic, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">ニックネーム</label>
                  <div class="col-xs-5">
                    <%= f.text_field :nick_name, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">性別</label>
                  <div class="col-xs-5">
                    <%= f.select :sex,  [["男性","男性"],["女性", "女性"]], {prompt: "選択"},{class: "form-control"} %>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">年齢</label>
                  <div class="col-xs-5">
                    <%= f.select :age,  [["10代", "10代"],["20代", "20代"],["30代","30代"],["40代","40代"],["50代","50代"],["60代以上","60代以上"]], {prompt: "選択"},{class: "form-control"} %>
                  </div>
              </div>
              <div class="form-group">
                <label>都道府県</label>
                <% @prefecture = Prefecture.all %>
                  <%= f.collection_select :prefecture_id, @prefecture, :id, :prefecture_name,{ prompt: "選択"}, {class: "form-control"} %>
                 </div>
               <div class="form-group">
                  <label class="control-label col-xs-2">自己紹介文</label>
                  <div class="col-xs-5">
                    <%= f.text_area :introduction, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">メールアドレス</label>
                  <div class="col-xs-5">
                    <%= f.email_field :email, autofocus: true, class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">アイコン画像</label><br>
                    <% if @user.profile_image.present? %>
                      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
                      <%= link_to "削除する",users_profile_path, class: "btn btn-putline-secondry" %>
                    <% end %>
                  <div class="col-xs-5">
                    <%= f.attachment_field :profile_image %>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">ヘッダー画像</label><br>
                    <% if @user.background_image.present? %>
                      <%= attachment_image_tag @user, :background_image, :fill, 245, 72, format: 'jpeg' %>
                      <%= link_to "削除する",users_back_path, class: "btn btn-putline-secondry" %>
                    <% end %>
                  <div class="col-xs-5">
                    <%= f.attachment_field :background_image %>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-5"></label>
                    <div class="col-xs-2">
                      <%= f.submit "編集する" ,class: "btn btn-outline-info"%>
                    </div>
              </div>
              <% end %>
        </div>
    </div>
</div>