<div class="back-ground ">
	<div class="main-space">
		<div class="section-head">
             <h3><%= @user.nick_name %>さんのお気に入りネドコ</h3>
          </div>
          <% if @user.favorites.count == 0 %>
          お気に入りに登録されたネドコはありません。<br>
          気に入ったネドコをお気に入りに登録してみましょう。
          <% end %>
			<% @user.favorites.each do |favotites| %>
				<%= link_to spot_path(favotites.spot) do %>
					<div class="main-content clearfix">
						<% if favotites.spot.spot_images.present? %>
							<% favotites.spot.spot_images.first(1).each do |spot_image| %>
								<div class="index-image">
									<%= attachment_image_tag spot_image, :image, :fill, 240, 180 , format: 'jpeg' %>
				  				</div>
				  			<% end %>
				  		<% else %>
							<div class="index-image">
								<%= image_tag('no.jpg', :size => '240x180') %>
							</div>
						<% end %>
							<div class="index-info">
								<h4><%= favotites.spot.spot_name %></h4>
								<p><%= favotites.spot.prefecture.prefecture_name %></p>
								<p><%= favotites.spot.spot_address %></p>
								<p>タイプ：<%= favotites.spot.type %></p>
								<p>[<%= favotites.spot.discription %>]</p>
							</div>
					</div>
				<% end %>
			<% end %>
		   <div class="page-space">
		   	<%= paginate @spots %>
		</div>
	</div>
</div>