<div class="back-ground">
	<div class="main-space">
		<%= render "layouts/flash" %>
			<div class="user-header-image">
				<%= attachment_image_tag @user, :background_image, :fill, 780, 290, format: 'jpeg', fallback: 'no.jpg', :size => '780x290' %>
				<div class="user-icon">
					<%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: 'no.jpg', :size => '150x150' %>
			     </div>
			     <div class="user-name">
			     	<%= @user.nick_name %>
			     </div>
			 </div>
			 <div class="user-info-space clearfix">
			 		<div class="user-info-line"><%= link_to "登録情報の確認", edit_user_path, :style => "color:gray;" %>
			 		</div>
			 		<div class="user-info-line"><%= link_to "お気に入りネドコ一覧", users_favorites_path(@user) ,:style => "color:gray;" %>
			 		</div>
			 		<div class="user-info-line"><%= link_to "宿泊済みネドコ一覧", users_slepts_path(@user), :style => "color:gray;"  %>
			 		</div>
			 </div>
		 <div class="content-space">
		 	<div class="introduction">
		 		<dl>
			 	  <dt>性別
			      </dt>
			      <dd><%= @user.sex %>
			      </dd>
			 	</dl>
			 	<dl>
			 	  <dt>年代
			      </dt>
			      <dd><%= @user.age %>
			      </dd>
			 	</dl>
			 	<dl>
			 	  <dt>自己紹介
			      </dt>
			      <dd><%= @user.introduction %>
			      </dd>
			 	</dl>
		 	</div>
		 </div>
		   <div class="content-space">
		   	<div class="spot-h3">
			    ドコネルデータ
			  </div>
			  	<canvas id="myBarChart"></canvas>
		   </div>
	</div>
</div>

<script>
Chart.scaleService.updateScaleDefaults('linear', {
    ticks: {
        min: 0,
        max: 10
    }
});
var ctx = document.getElementById("myBarChart").getContext('2d');
var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["北海道","東北","関東","北陸・甲信越","東海","関西","中国","四国","九州"],
        datasets: [{
            label: "宿泊済み",
            data: [<%= @hokkaidos %>,
            <%= @tohokus %>,
            <%= @kantos %>,
            <%= @hokurikus %>,
            <%= @tokais %>,
            <%= @kansais %>,
            <%= @chugokus %>,
            <%= @sikokus %>,
            <%= @kyushus %>],
            backgroundColor: "green",
        },{
            label: "お気に入り",
            data: [<%= @hokkaidof %>,
            <%= @tohokuf %>,
            <%= @kantof %>,
            <%= @hokurikuf %>,
            <%= @tokaif %>,
            <%= @kansaif %>,
            <%= @chugokuf %>,
            <%= @sikokuf %>,
            <%= @kyushuf %>],
            backgroundColor: "orange",
        }]
    },
    options: {
        title:  {
          display: false,
          text: "宿泊データ"
        }
    }
});
</script>