<div class="back-ground">
	<div class="main-space">
		<%= render "layouts/flash" %>
			<div class="user-header-image">
				<%= attachment_image_tag @user, :background_image, :fill, 780, 290, format: 'jpeg', fallback: '/images/no-image.jpg', :size => '780x290' %>
				<div class="user-icon">
					<%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: '/images/no-icon.jpg', :size => '150x150' %>
			     </div>
<!-- ----------------------------------------------------------------- -->
			     <div class="user-name">
			     	<%= @user.nick_name %>
			     </div>
			 </div>
			 <div class="user-info-space clearfix">
			 	<div class="user-info-line">
			 		<% if @user == current_user %>
			 			<%= link_to edit_user_path(@user), :style => "color:gray;" do %>
			 				<i class="fa fa-user-edit" aria-hidden="true"></i> 登録情報の確認・変更
			 			<% end %>
			 		<% else %>
			 			<i class="fa fa-user-edit" aria-hidden="true"></i> 登録情報の確認・変更
			 		<% end %>
			 		</div>
			 	<div class="user-info-line">
			 		<%= link_to  users_favorites_path(@user), :style => "color:gray;" do %>
		   				<i class="fa fa-star" aria-hidden="true"></i> お気に入りネドコ一覧
		   			<% end %>
		   		</div>
			 	<div class="user-info-line">
			 		<%= link_to users_slepts_path(@user), :style => "color:gray;" do %>
			 			<i class="fa fa-bed" aria-hidden="true"></i> 宿泊済みネドコ一覧
			 		<% end %>
			 	</div>
			 </div>
<!-- user-info----------------------------------------------------------------- -->

		 <div class="content-space">
		 	<div class="intro-line clearfix">
		 		<div class="intro-line-box">
			 	  <i class="fa fa-genderless" aria-hidden="true"></i> 性別　
			 	  	<% if @user.sex == "男性" %>
			 	  		<i class="fa fa-male" aria-hidden="true"></i>
			 	  	<% elsif @user.sex == "女性"%>
			 	  		<i class="fa fa-female" aria-hidden="true"></i>
			     	<% end %>
			 	</div>
		 		<div class="intro-line-box">
			 	  <i class="fa fa-star-of-life" aria-hidden="true"></i> 年代　
			      	<%= @user.age %>
			 	</div>
		 		<div class="intro-line-box">
			 	  <i class="fa fa-upload" aria-hidden="true"></i> ネドコ登録数　
			 	  <%= @user.spot_count %>件
			   </div>
			</div>
		 	<div class="intro">
			 	 <i class="fa fa-comment" aria-hidden="true"></i> 自己紹介<br>
			     	<%= @user.introduction %>
		 	</div>
		 </div>
	<div class="content-space">
		<div class="spot-h3">
			ドコネルデータ
		</div>
			<canvas id="myBarChart"></canvas>
		</div>
	</div>
</div>
<!-- ----------------------------------------------------------------- -->
<script>
Chart.scaleService.updateScaleDefaults('linear', {
    ticks: {
        min: 0,
        max: 30
    }
});
var ctx = document.getElementById("myBarChart").getContext('2d');
var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["北海道","東北","関東","北陸・甲信越","東海","関西","中国","四国","九州"],
        datasets: [{
            label: "宿泊済み",
            data: [<%= @hokkaidos %>,
            <%= @tohokus %>,
            <%= @kantos %>,
            <%= @hokurikus %>,
            <%= @tokais %>,
            <%= @kansais %>,
            <%= @chugokus %>,
            <%= @sikokus %>,
            <%= @kyushus %>],
            backgroundColor: "green",
        },{
            label: "お気に入り",
            data: [<%= @hokkaidof %>,
            <%= @tohokuf %>,
            <%= @kantof %>,
            <%= @hokurikuf %>,
            <%= @tokaif %>,
            <%= @kansaif %>,
            <%= @chugokuf %>,
            <%= @sikokuf %>,
            <%= @kyushuf %>],
            backgroundColor: "orange",
        }]
    },
});
</script>