<div class="back-ground ">
	<div class="main-space">
		<div class="section-head">
            <h3><%= @user.nick_name %>さんの宿泊済みネドコ</h3>
          </div>
          <% if @user.slepts.count == 0 %>
          	宿泊済みに登録されたネドコはありません。<br>
          	宿泊したことのあるスポットを登録してみましょう。
          <% end %>
<!-- ----------------------------------------------------------------- -->
			<% @slepts.each do |slept| %>
				<%= link_to spot_path(slept.spot) do %>
					<div class="main-content clearfix">
						<% if slept.spot.spot_images.present? %>
							<% slept.spot.spot_images.first(1).each do |spot_image| %>
								<div class="index-image">
								<%= attachment_image_tag spot_image, :image, :fill, 240, 180 , format: 'jpeg' %>
				  				</div>
				  			<% end %>
				  		<% else %>
							<div class="index-image">
								<%= image_tag('/images/no.jpg', :size => '240x180') %>
							</div>
						<% end %>
							<div class="index-info">
								<h4><%= slept.spot.spot_name %></h4>
								<p><%= slept.spot.prefecture.prefecture_name %></p>
								<p><%= slept.spot.spot_address %></p>
								<p>タイプ：<%= slept.spot.type %></p>
								<p>[<%= slept.spot.discription %>]</p>
							</div>
					</div>
				<% end %>
				<div class="index-favorite clearfix">
						<div class="favorite-box">
						   	<span id="favorite<%= slept.spot_id %>">
				           		<%= render partial: 'spots/favorite', locals: {spot: slept.spot} %>
				         	</span>
						 </div>
						 <div class="favorite-box">
							<span id="slept<%= slept.spot_id %>">
				           		<%= render partial: 'spots/slept', locals: {spot: slept.spot} %>
				         	</span>
						  </div>
						</div>
			<% end %>
<!-- ----------------------------------------------------------------- -->
		   <div class="page-space">
		   	<%= paginate @slepts %>
		</div>
		<%= link_to "ドコネル", root_path, :style => "color:gray" %> >
		<%= link_to "マイページ", user_path(@user), :style => "color:gray" %> >
		宿泊済みネドコ一覧
	</div>
</div>