<div class="back-ground ">
	<div class="main-space">
		<div class="section-head">
            <h3><%= @user.nick_name %>さんの宿泊済みネドコ</h3>
          </div>
			<% @user.slepts.each do |slept| %>
				<%= link_to spot_path(slept.spot) do %>
					<div class="main-content clearfix">
						<% if slept.spot.spot_images.present? %>
							<% slept.spot.spot_images.first(1).each do |spot_image| %>
								<div class="index-image">
								<%= attachment_image_tag spot_image, :image, :fill, 240, 180 , format: 'jpeg' %>
				  				</div>
				  			<% end %>
				  		<% else %>
							<div class="index-image">
								<%= image_tag('no.jpg', :size => '240x180') %>
							</div>
						<% end %>
							<div class="index-info">
								<h4><%= slept.spot.spot_name %></h4>
								<p><%= slept.spot.prefecture.prefecture_name %></p>
								<p><%= slept.spot.spot_address %></p>
								<p>タイプ：<%= slept.spot.type %></p>
								<p>[<%= slept.spot.discription %>]</p>
							</div>
					</div>
				<% end %>
			<% end %>
		   <div class="page-space">
		   	<%= paginate @spots %>
		</div>
	</div>
</div>