<div class="back-ground">
	<div class="main-space">
		<div class="section-head">
			<h3><%= @prefecture.prefecture_name %>でネドコを探す</h3>
		</div>
	
		<% @prefecture.spots.each do |spot| %>
			<%= link_to spot_path(spot), :style=>"text-decoration: none;" do %>
			<div class="main-content clearfix">
				<% spot.spot_images.first(1).each do |spot_image| %>
				<div class="index-image">
					<%= attachment_image_tag spot_image, :image, :fill, 240, 180 , format: 'jpeg' %>
				  </div>
				  <% end %>
				<h4><%= spot.spot_name %></h4>
				<p><%= spot.prefecture.prefecture_name %></p>
				<p><%= spot.spot_address %></p>
				<p>タイプ：<%= spot.type %></p>
				<p>[<%= spot.discription %>]</p>
			</div>
			<% end %>
		<% end %>
		   <div class="page-space">
		   	①②③
		</div>
	</div>
</div>