<!DOCTYPE html>
<html>
  <head>
    <title>Dokoneru</title>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

<body>
<header clearfix>
  <div class="head-logo">
   <%= link_to "ドコネル", root_path ,:style =>"color:#007b43;" %>
   </div>
      <div class="head-right">
        <div class="head-links">
          <%= search_form_for @q ,url: spots_search_path ,html:{class: 'form-inline'} do |f| %>
            <%= f.search_field :spot_name_or_spot_address_or_type_or_area_area_name_or_prefecture_prefecture_name_cont, class: "search-form form-control rgb",:size => '30', placeholder: 'ネドコを探す' %>
            <%= f.submit "検索", class: 'btn btn-outline-success' %>
          <% end %>
        </div>
       <div class="head-links"><%= link_to "都道府県から探す" ,areas_path ,:style => "color:#007b43;" %>
         </div>
        <% if user_signed_in? %>
            <div class="head-links"><%= link_to "マイページ" ,user_path(current_user), :style => "color:#007b43;" %>
            </div>
        <% else %>
            <div class="head-links"><%= link_to "ログイン" ,new_user_session_path, :style => "color:#007b43;" %>
            </div>
        <% end %>
        <div class="head-links"><%= link_to "新規投稿" ,new_spot_path ,:style => "color:#007b43;" %>
        </div>
　　</div>
</header>

    <%= yield %>


<footer clearfix>
  <div class="footer-link">
      <%= link_to 'ログアウト',  destroy_admin_session_path, method: :delete,:style => "color:white;" %> | 
      <%= link_to "ユーザー検索" ,users_path,:style => "color:white;" %>
    </div>
    <div class="footer-logo">
        Copyright 2018 ドコネル　All Right Reserved.
  </div>
</footer>

</body>
</html>
