<!DOCTYPE html>
<html>
  <head>
    <title>Dokoneru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.japan-map.min.js"></script>
  </head>



  <body>
<header clearfix>
  <div class="head-logo">
   ドコネル?
   </div>
　　<div class="head-right">
      <div class="head-links"><%= link_to "都道府県から探す" ,areas_path ,:style => "color:white;" %></div>
      <div class="head-links" style="color:white;">検索</div>
      <div class="head-links" style="color:white;">マイページ</div>
　　</div>
</header>

    <%= yield %>


<footer>
フッターです
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js">
    </script>
  </body>
</html>
