<!DOCTYPE html>
<html>
  <head>
    <title>Dokoneru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script> -->
	<!-- <script type="text/javascript" src="js/jquery.japan-map.min.js"></script> -->
  </head>



  <body>
<header clearfix>
  <div class="head-logo">
   <%= link_to "ドコ", root_path ,:style =>"color:#007b43;" %>
   </div>
　　 <div class="head-right">
       <div class="head-links"><%= link_to "都道府県から探す" ,areas_path ,:style => "color:#007b43;" %>
         </div>
        <div class="head-links" style="color:#007b43;">検索</div>
        <div class="head-links"><%= link_to "マイページ" ,user_path(1) ,:style => "color:#007b43;" %>
        </div>
        <div class="head-links"><%= link_to "新規投稿" ,new_spot_path ,:style => "color:#007b43;" %>
        </div>
　　</div>
</header>
<%= link_to 'log_out',  destroy_admin_session_path,method: :delete  %>

    <%= yield %>


<footer>
フッターです
</footer>

  </body>
</html>
